*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
    font-family:'Roboto',sans-serif;
  }
  
.material-symbols-outlined{
    color:rgb(96,96,96);
  }
  .ytIcons{
    width: 2rem;
    border-radius: 50%;
  }
  /* header */
.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:70px;
  padding:15px;
}
.headerLeft{
  display:flex;
  align-items:center;
 }
.headerLeft img{
  width:100px;
  margin-left:15px;
 }
 .header i{
  padding:0px 7px;
  cursor:pointer;
 }
 .headerSearch form{
  border:1px solid #ddd;
  height:35px;
  margin:0;
  padding:0;
  display:flex;
 }
.headerSearch input{
  width:500px;
  padding:10px;
  margin:0;
  border-radius:0;
  border:none;
 }
 .header_search button{
  padding:0;
  margin:0;
  height:100%;
  border:none;
  border-radius:0;
 }

/* categories */
 .categories {
  padding: 1rem 2rem;
  
}

.category-section {
  display: flex;
  overflow: hidden;
}

.category {
  margin-right: 1rem;
  word-wrap: none;
  white-space: nowrap;
  border: 1px solid #CCC;
  border-radius: 900px;
  background-color: #E7E7E7;
  padding: .5rem 1rem;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 150ms;
}

.category:hover {
  background-color: #DDD;
}

.category.active {
  background-color: #606060;
  color: white;
  border-color: #EEE;
}

.category:last-child {
  margin-right: 0;
}

 /*Mainbody*/
.mainBody{
  height:calc(100vh - 70px);
  display:flex;
  overflow-x:hidden;
}

/*Sidebar*/
.sidebar{
  height:100%;
  width:230px;
  background-color:white;
  overflow-y: scroll;
}
.sidebar_categories{
  width:100%;
  display:flex;
  flex-direction:column;
  margin-top:15px;
}
.sidebar_category{
  display:flex;
  align-items:center;
  padding:12px 25px;
 }
 .sidebar_category span{
  margin-left:15px;
 }
 .sidebar_category:hover{
  background:#e5e5e5;
  cursor:pointer;
 }
 .sidebar::-webkit-scrollbar{
  display: none;
 }
 hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
 }

 /* videos */
 .videos{
  background-color:#f9f9f9;
  width:100%;
  height:100%;
  padding:15px 25px;
  border-top:1px solid #ddd;

}
 .videosContainer{
  display:flex;
  overflow-y:hidden;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap:wrap;
 }
 .video{
  width:290px;
  margin-right:10px;
  margin-bottom:30px;
}

.videoThumbnail{
width: 100%;
height: 170px;
}

.videoThumbnail img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.videoDetails {
  display: flex;
  margin-top: 10px;
}

.title{
  display: flex;
  flex-direction: column;
}
.title h3 {
  color: black;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}

.title a, span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 14px;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}
#searchIcon{
  display: none;
}
/* media query */
@media (max-width: 425px){
  .headerSearch {
    display: none;
  }
  .headerIcons .material-symbols-outlined {
    display: none;
  }
  .headerIcons .display-this{
    display: inline;
  }
  .sidebar {
    display: none;
  }
}
@media (max-width: 768px) {
  #searchIcon{
    display: inline;
  }
  .headerSearch {
    display: none;
  }
  .sidebar {
    display: none;
  }

  .show-sidebar {
    display: inline;
    position: fixed;
    top:4.4rem;
    height: 100vh;
  }
}

@media (max-width: 928px){
  #searchIcon{
    display: inline;
  }
  .headerSearch input{
    width: 300px;
  }
}
@media (min-width: 1140px){
  .videosContainer{
    display:flex;
    overflow-y:hidden;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
  justify-content: left;
   }
   .category-section {
    display: flex;
    overflow: hidden;
    justify-content: center;
  }
  
}
